<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 打印 SQL 日志 -->
        <setting name="logImpl" value="org.apache.ibatis.logging.stdout.StdOutImpl" />
    </settings>
    <!-- 暂时未使用 文档：https://mybatis.org/mybatis-3/zh/configuration.html#typeAliases -->
    <typeAliases>
    </typeAliases>
</configuration>