<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean class="com.imwj.springframework.beans.factory.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:token.properties"/>
    </bean>

    <bean id="userService" class="bean.UserService">
        <property name="token" value="${token}"/>
    </bean>

</beans>
